h1.a
{
	color: rgb(12, 74, 77); 
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	font-variant: small-caps;
}
p.a
{
	color: rgb(3, 5, 139); 
	font-size: x-large; 
	font-weight: 600;
	font-family: 'Apple Chancery', cursive;
	font-variant: small-caps;
}

nav img {
	height: 30px;
	margin-right: 10px;
}

.navbar 
{

}
.navbar-brand, .navbar-nav .nav-link 
{
	color: #ff0000;
}
.carousel-item 
{
	height: 75vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.card 
{
	margin: 20px;
}
body 
{
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

iframe {
	display: block; /* Set display property to block */
	margin: 0 auto; /* Set margin to auto to center horizontally */ 
}